.cart_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}
.cart_product_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 50%;
}
.cart_product_details img {
  width: 60px;
    height: 60px;
    margin-right: 20px;
}
.product_info h3 {
      margin: 0;
    font-size: 18px;
}
.del {
  cursor: pointer;
  color: red;
}
.quantity {
  display: flex;
  align-items: center;
}
.quantity button {
  width: 30px;
    height: 30px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.quantity span {
  margin: 0 10px;
}
.price, .total {
  font-size: 16px;
  color: #333;
}
