.brand_container {
  position: relative;
  width: 100%;
  height: 320px;
  margin-top: -4rem;
  overflow: hidden;
}
.strip_top,
.strip_bottom {
  position: absolute;
  left: -10px;
  width: 180%;
  height: 70px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.strip_top {
  top: 15%;
  transform: rotate(-10deg);
  z-index: 2;
}
.strip_bottom {
  bottom: 20%;
  transform: rotate(10deg);
  z-index: 1;
}
.strip_top ul, .strip_bottom ul {
  display: flex;
  gap: 400px;
  list-style: none;
  font-size: 1.2rem;
  font-weight: 600;
}
.strip_top ul li, .strip_bottom ul li {
  opacity: 0.95;
  letter-spacing: 0.5px;
}
