@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Cairo:wght@200..1000&family=Outfit:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #fdf3fd;
}
/* .antonio-<uniquifier> {
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
} */